.container {
	font-family: Arial,sans-serif;
	width: 860px;
	height: 780px;
	background-color: #545256;
}

.container header {
	display: flex;
	padding: 5px;
	border-bottom: 2px solid gray;
	justify-content: space-between;
	align-items: flex-end;
}

.container .play a {
	color: #d4dddd;
}

.container .play i {
	font-size: 10px;
}

.container h1 {
	text-transform: uppercase;
	color: #dacb46;
}

.flex {
	display: flex;
}

.movie {
	position: relative;
	top: 10px;
	left: 50%;
	width: 840px;
	transform: translateX(-50%);
	justify-content: space-between;
}

.item {
	position: relative;
	width: 200px;
	height: 350px;
	border: 2px solid #1c1c1c;
	border-color: #1c1c1c #1c1c1c gray #1c1c1c;
	background-color: #1c1c1c;
}

.item .rectangle {
	position: absolute;
	width: 160px;
	height: 20px;
	margin-top: 5px;
	background-color: #a11d0a;
}

.item .rectangle .ti {
	font-size: 13px;
	font-weight: bold;
	display: flex;
	padding-top: 2px;
	color: white;
	align-items: center;
}

.item .triangle {
	position: absolute;
	display: inline-block;
	margin-top: 5px;
	transform: translateX(160px);
	border-width: 10px;
	border-style: solid;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: #a11d0a;
}

.item img {
	width: 100%;
	height: 80%;
}

.item .text {
	padding: 0 4px 5px 4px;
	color: #44e2ff;
}

.item .text h4 {
	text-transform: uppercase;
}

.item .text p {
	padding-top: 5px;
	color: #ccc;
}

.item .text .time {
	font-size: 12px;
	color: #777;
}

.second {
	padding-top: 10px;
}

.he {
	position: relative;
	margin-top: 20px;
	padding-bottom: 40px;
	padding-left: 10px;
}

.he .title {
	font-style: italic;
	position: absolute;
	z-index: 10px;
	color: #303030;
}

.he .sky {
	position: absolute;
	top: 20px;
	width: 850px;
	height: 10px;
	background-color: #b9e1ff;
}

.top {
	display: flex;
	width: 850px;
	justify-content: space-between;
}

.new {
	margin-left: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #c2c2c2;
}

.new .tit {
	font-family: Arial,sans-serif;
	font-size: 17px;
	font-weight: bold;
	width: 400px;
	padding-top: 10px;
}

.new .hot {
	font-family: Arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-top: 5px;
	text-transform: uppercase;
	color: #1538a0;
}

.new img {
	float: left;
	margin-right: 10px;
}

