.flex {
	display: flex;
}

.a-c {
	align-items: center;
}

.j-c {
	justify-content: space-between;
}

body {
	font-family: 'Hind',sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

header {
	position: relative;
	padding: 20px 0;
	background-color: #fff;
	box-shadow: 0 4px 5px -2px #ebebeb;
}

header h1 {
	font-size: 28px;
}

header h1 a {
	color: #2d3748;
}

header h1 i {
	font-size: 28px;
	padding-right: 8px;
	color: #5a67d8;
}

header .search .se-icon {
	font-size: 13px;
	padding: 10px 10px;
	color: #718096;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: blue;
	background-color: #f4f4f4;
}

header .search input {
	font-size: 16px;
	width: 300px;
	padding: 10px 5px;
	color: #a0a0a0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #f4f4f4;
}

header nav > ul > li {
	font-size: 18px;
	margin: 0 10px;
	padding: 10px;
	transition: all .5s;
}

header nav > ul > li:hover .dropdown {
	display: block;
}

header nav > ul > li a {
	font-weight: bold;
	color: #718096;
}

header nav > ul > li a.active {
	color: #5a67d8;
}

header nav > ul > li a:hover {
	color: #5a67d8;
}

header nav > ul > li a i.dow {
	font-size: 12px;
	padding-left: 5px;
}

header nav > ul > li a i.mo {
	font-size: 18px;
	padding-left: 15px;
}

header nav .dropdown {
	position: absolute;
	z-index: 5;
	top: 75%;
	display: none;
	transform: translateX(-20%);
	border: 1px solid white;
	background-color: #fff;
}

header nav .dropdown li {
	padding: 5px 20px;
}

header nav .dropdown a {
	display: block;
}

.category {
	position: relative;
	width: 288px;
	height: 100px;
	margin: 60px 0;
	transition: all .5s;
	border-radius: 20px;
	background-color: #fff;
}

.category:hover {
	transform: translateY(-5px);
	box-shadow: 0 0 10px 2px rgba(196, 188, 188, .75);
}

.category i {
	font-size: 26px;
	position: absolute;
	left: 50%;
	padding: 15px 0;
	transform: translateX(-50%);
	color: #5a67d8;
}

.category a {
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	top: 40%;
	left: 50%;
	padding: 15px 0;
	transform: translateX(-50%);
	color: #718096;
}

.category a:hover {
	color: #5a67d8;
}

.main {
	height: 750px;
	background-color: #f4f4f4;
}

.item .text {
	font-size: 45px;
	width: 730px;
}

.item .text .txt {
	font-size: 16px;
	font-weight: bold;
	width: 100px;
	height: 30px;
	transition: all .5s;
	border-radius: 15px;
	background-color: #ededf3;
}

.item .text .txt a {
	color: #5a67d8;
}

.item .text .txt a p {
	padding: 4px 25px;
}

.item .text .txt a:hover {
	color: #2c3bba;
}

.item .text a {
	color: #2d3748;
}

.item .image {
	width: 370px;
	height: 460px;
}

.item .image img {
	width: 100%;
	border-radius: 20px;
}

.cate {
	position: relative;
	width: 370px;
	height: 460px;
}

.cate::before {
	position: absolute;
	display: block;
	width: 370px;
	height: 460px;
	content: '';
	border-radius: 20px;
	background-color: rgba(0, 0, 0, .65);
}

.cate img {
	width: 100%;
	border-radius: 20px;
}

.main-se {
	font-family: 'Merriweather', serif;
	font-size: 26px;
	margin-top: 80px;
	margin-bottom: 20px;
}

.cate {
	position: relative;
	margin-bottom: 100px;
	transition: all .5s;
}

.cate:hover {
	transform: translateY(-5px);
}

.cate .he {
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
	margin: 16px 35px 16px 20px;
	transform: translateY(210%);
	color: white;
}

.cate .im {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 60px;
	height: 60px;
	transform: translate(20px, -15px);
	border: 2px solid #999;
	border-radius: 50%;
}

.cate .im img {
	width: 100%;
	border-radius: 50%;
}

.cate .te {
	position: absolute;
	bottom: 0;
	transform: translate(100px, -15px);
	color: white;
}

.cate .te a {
	font-size: 18px;
	font-weight: bold;
	color: white;
}

.cate .te .day {
	padding-right: 10px;
}

.main-th {
	background-color: #f8f9fa;
}

.main-th .colum-1 {
	width: 70%;
}

.main-th .colum-1 h3 {
	font-family: 'Merriweather', serif;
	font-size: 26px;
	margin-top: 100px;
	color: #2d3748;
}

.main-th .colum-1 .cat {
	width: 370px;
	height: 460px;
	margin: 15px 30px 15px 0;
	transition: all .5s;
	border-radius: 20px;
	background-color: white;
}

.main-th .colum-1 .cat:hover {
	transform: translateY(-5px);
	box-shadow: 0 0 10px 2px rgba(196, 188, 188, .75);
}

.main-th .colum-1 .cat img {
	width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.main-th .colum-1 .cat .im {
	width: 56px;
	height: 56px;
	padding-left: 20px;
}

.main-th .colum-1 .cat .im img {
	width: 100%;
}

.main-th .colum-1 .cat .txt {
	font-size: 16px;
	font-weight: bold;
	width: 160px;
	height: 30px;
	margin-top: 20px;
	margin-left: 20px;
	transition: all .5s;
	border-radius: 15px;
	background-color: #f7f7fd;
}

.main-th .colum-1 .cat .txt a {
	color: #5a67d8;
}

.main-th .colum-1 .cat .txt a p {
	padding: 4px 25px;
}

.main-th .colum-1 .cat .txt a:hover {
	color: #2c3bba;
}

.main-th .colum-1 .cat .hea {
	font-size: 21.6px;
	font-weight: bold;
	display: inline-block;
	margin: 10px 40px 10px 20px;
	transition: all .5s;
	color: #2d3748;
}

.main-th .colum-1 .cat .hea:hover {
	color: #5a67d8;
}

.main-th .la {
	width: 300px;
}

.main-th .te a {
	font-size: 18px;
	font-weight: bold;
	color: #2d3748;
}

.main-th .te .day {
	margin-right: 10px;
}

.colum-2 h3 {
	font-family: 'Merriweather', serif;
	font-size: 26px;
	margin-top: 100px;
	color: #2d3748;
}

.colum-2 h1 {
	font-family: 'Merriweather', serif;
	padding: 20px 0 20px 0;
}

.colum-2 p {
	text-align: center;
	color: #718096;
}

.learn {
	width: 810px;
	height: 80px;
	border-radius: 10px;
	background-color: white;
}

.learn h2 {
	font-family: 'Merriweather', serif;
	font-size: 26px;
	padding-left: 20px;
	color: #2d3748;
}

.learn button {
	font-size: 16px;
	font-weight: bold;
	margin-right: 20px;
	padding: 15px 20px 15px 20px;
	transition: all .5s;
	color: white;
	border-radius: 10px;
	background-color: #5a67d8;
}

.learn button:hover {
	background-color: #2c3bba;
}

.the {
	font-size: 17px;
	font-weight: bold;
	width: 360px;
	height: 50px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-left: 25px;
	border-radius: 10px;
	background-color: #fff;
}

.the a {
	color: #718096;
}

.main-fo {
	background-color: #f8f9fa;
}

.main-fo h3 {
	font-family: 'Merriweather', serif;
	font-size: 26px;
	margin-top: 100px;
	color: #2d3748;
}

.main-fo .cat {
	width: 370px;
	height: 460px;
	margin: 15px 30px 15px 0;
	margin-bottom: 100px;
	transition: all .5s;
	border-radius: 20px;
	background-color: white;
}

.main-fo .cat:last-child {
	margin-right: 0;
}

.main-fo .cat:hover {
	transform: translateY(-5px);
	box-shadow: 0 0 10px 2px rgba(196, 188, 188, .75);
}

.main-fo .cat img {
	width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.main-fo .cat .im {
	width: 56px;
	height: 56px;
	padding-left: 20px;
}

.main-fo .cat .im img {
	width: 100%;
}

.main-fo .cat .hea {
	font-size: 21.6px;
	font-weight: bold;
	display: inline-block;
	margin: 10px 40px 10px 20px;
	margin-top: 40px;
	transition: all .5s;
	color: #2d3748;
}

.main-fo .cat .hea:hover {
	color: #5a67d8;
}

.main-fo .txt {
	font-size: 16px;
	font-weight: bold;
	width: 130px;
	height: 40px;
	margin-top: 100px;
	margin-left: 20px;
	transition: all .5s;
	border-radius: 15px;
	background-color: #e2e8f0;
}

.main-fo .txt:hover {
	background-color: #2c3bba;
}

.main-fo .txt:hover a {
	color: white;
}

.main-fo .txt a {
	color: #718096;
}

.main-fo .txt a p {
	padding: 8px 25px;
}

.la {
	width: 300px;
}

.te a {
	font-size: 18px;
	font-weight: bold;
	color: #2d3748;
}

.te .day {
	margin-right: 10px;
}

.beauty {
	height: 900px;
	background-color: #f4f4f4;
}

.beauty .tit {
	margin-bottom: 20px;
}

.beauty .tit h3 {
	font-family: 'Merriweather', serif;
	font-size: 26px;
	margin-top: 100px;
	color: #2d3748;
}

.beauty .tit .more {
	font-size: 16px;
	font-weight: bold;
	width: 130px;
	height: 40px;
	margin-top: 100px;
	margin-left: 20px;
	transition: all .5s;
	border-radius: 15px;
	background-color: #e2e8f0;
}

.beauty .tit .more:hover {
	background-color: #2c3bba;
}

.beauty .tit .more:hover a {
	color: white;
}

.beauty .tit .more a {
	color: #718096;
}

.beauty .tit .more a p {
	padding: 8px 25px;
}

.beauty .cate-1 {
	width: 580px;
	height: 300px;
	margin-bottom: 20px;
	transition: all .5s;
	border-radius: 20px;
	background-color: #fff;
}

.beauty .cate-1:hover {
	transform: translateY(-5px);
	box-shadow: 0 0 10px 2px rgba(196, 188, 188, .75);
}

.beauty .cate-1 .pic {
	width: 220px;
	height: 300px;
}

.beauty .cate-1 .pic img {
	width: 100%;
	height: 100%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.beauty .cate-1 .doc {
	width: 60%;
}

.beauty .cate-1 .doc:last-child {
	width: 70%;
}

.beauty .cate-1 .doc .hea {
	font-size: 21.6px;
	font-weight: bold;
	display: inline-block;
	margin: 10px 40px 10px 20px;
	transition: all .5s;
	color: #2d3748;
}

.beauty .cate-1 .doc .hea:hover {
	color: #5a67d8;
}

.beauty .cate-1 .la {
	margin: auto;
}

.beauty .cate-1 .d-t {
	color: #718096;
}

.trend {
	background-color: #f8f9fa;
}

.trend .tit {
	margin-bottom: 20px;
}

.trend .tit h3 {
	font-family: 'Merriweather', serif;
	font-size: 26px;
	margin-top: 100px;
	color: #2d3748;
}

.trend .tit .more {
	font-size: 16px;
	font-weight: bold;
	width: 130px;
	height: 40px;
	margin-top: 100px;
	margin-left: 20px;
	transition: all .5s;
	border-radius: 15px;
	background-color: #e2e8f0;
}

.trend .tit .more:hover {
	background-color: #2c3bba;
}

.trend .tit .more:hover a {
	color: white;
}

.trend .tit .more a {
	color: #718096;
}

.trend .tit .more a p {
	padding: 8px 25px;
}

.trend .cate-1 {
	width: 580px;
	height: 300px;
	margin-bottom: 50px;
	transition: all .5s;
	border-radius: 20px;
	background-color: #fff;
}

.trend .cate-1:hover {
	transform: translateY(-5px);
	box-shadow: 0 0 10px 2px rgba(196, 188, 188, .75);
}

.trend .cate-1 .pic {
	width: 250px;
	height: 300px;
}

.trend .cate-1 .pic img {
	width: 100%;
	height: 100%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.trend .cate-1 .doc {
	width: 60%;
}

.trend .cate-1 .doc:last-child {
	width: 70%;
}

.trend .cate-1 .doc .hea {
	font-size: 21.6px;
	font-weight: bold;
	display: inline-block;
	margin: 10px 40px 10px 20px;
	transition: all .5s;
	color: #2d3748;
}

.trend .cate-1 .doc .hea:hover {
	color: #5a67d8;
}

.trend .cate-1 .la {
	margin: auto;
}

.trend .cate-1 .d-t {
	color: #718096;
}

.sub {
	position: relative;
	height: 500px;
	background-color: #f4f4f4;
}

.sub .wh {
	position: absolute;
	top: 0;
	width: 1200px;
	height: 300px;
	transform: translateY(30%);
	border-radius: 20px;
	background-color: #fff;
}

.sub .wh .su {
	padding-top: 80px;
	text-align: center;
}

.sub .wh .su h2 {
	font-family: 'Merriweather', serif;
	font-size: 26px;
	margin-bottom: 8px;
}

.sub .wh .su p {
	font-size: 18px;
	padding-bottom: 30px;
	color: #718096;
}

.sub .wh .su input {
	width: 300px;
	padding: 15px 20px 15px 20px;
	border-radius: 10px;
	background-color: #f4f4f4;
}

.sub .wh .su button {
	font-size: 16px;
	font-weight: bold;
	margin-right: 20px;
	padding: 15px 20px 15px 20px;
	transition: all .5s;
	color: white;
	border-radius: 10px;
	background-color: #5a67d8;
}

.sub .wh .su button:hover {
	background-color: #2c3bba;
}

footer {
	background-color: #fff;
}

footer .menu {
	padding-top: 50px;
	padding-bottom: 50px;
	align-items: flex-start;
}

footer .logo h1 {
	font-size: 28px;
}

footer .logo h1 a {
	color: #2d3748;
}

footer .logo h1 i {
	font-size: 28px;
	padding-right: 8px;
	color: #5a67d8;
}

footer li {
	padding-top: 5px;
	transition: all .5s;
}

footer li a {
	font-size: 18px;
	color: #718096;
}

footer li a:hover {
	color: #2d3748;
}

footer .re {
	width: 200px;
}

footer .top {
	font-size: 24px;
	font-weight: bold;
	color: #2d3748;
}

footer h2 {
	transition: all .5s;
}

footer h2 a {
	color: #5a67d8;
}

footer h2 a:hover {
	color: #2c3bba;
}

footer .fb {
	padding-right: 10px;
	color: #1877f2;
}

footer .ti {
	padding-right: 10px;
	color: #1da1f2;
}

footer .lin {
	padding-right: 10px;
	color: #0a66c2;
}

footer .dr {
	padding-right: 10px;
	color: #ea4c89;
}

