
.arrow{
  position: relative;
  margin: 50px;
  width: 100px;
  height: 5px;
  background-color: black;
  &::after{
    position: absolute;
    display: block;
    content: '';
    top: -5px;
    right: 0px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    border-top: 5px solid black;
    border-right: 5px solid black;
  }
}