.container{
    background-color: #545256;
    width: 860px;
    height: 780px;
    font-family: Arial,sans-serif;
    header{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 5px;
        border-bottom: 2px solid gray; 
    }
    .play{
        a{
            color: #d4dddd;
        }
        i{
            font-size: 10px;
        }
    }
    h1{
        color: #dacb46;
        text-transform: uppercase;
    }
}
.flex{
    display: flex;
}
.movie{
    width: 840px;
    justify-content: space-between;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.item{
    width: 200px;
    height: 350px;
    background-color: #1c1c1c;
    border: 2px solid #1c1c1c;
    border-color: #1c1c1c #1c1c1c gray #1c1c1c;
    position: relative;
    .rectangle{
        margin-top: 5px;
        width: 160px;
        height: 20px;
        background-color: #a11d0a;
        position: absolute;
        .ti{
            padding-top: 2px;
            font-size: 13px;
            color: white;
            font-weight: bold;
            display: flex;
            align-items: center;
            
        }
    }
    .triangle{
        margin-top: 5px;
        display: inline-block;
        border-width: 10px;
        border-style: solid;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent ;
        border-left-color: #a11d0a;
        position: absolute;
        transform: translateX(160px);

    }
    img{
        width: 100%;
        height: 80%;
    }
    .text{
        h4{
            text-transform: uppercase;
        }
        color: #44e2ff;
        padding: 0px 4px 5px 4px;
        p{
            padding-top: 5px;
            color: #cccccc;
        }
        .time{
            color: #777777;
            font-size: 12px;
        }
    }
}
.second{
    padding-top: 10px;
}
.he{
    margin-top: 20px;
    position: relative;
    padding-left: 10px;
    padding-bottom: 40px;
    .title{
        position: absolute;
        z-index: 10px;
        font-style: italic;
        color: #303030;
    }
    .sky{
        position: absolute;
        width: 850px;
        height: 10px;
        background-color: #b9e1ff;
        top: 20px;
    }
}
.top{
    display: flex;
    justify-content: space-between;
    width: 850px;
}
.new{
    margin-left: 10px;
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 10px;
    .tit{
        padding-top: 10px;
        width: 400px;
        font-weight: bold;
        font-family: Arial,sans-serif;
        font-size: 17px;
    }
    .hot{
        padding-top: 5px;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        color: #1538a0;
        font-family: Arial,sans-serif;


    }
    img{
        float: left;
        margin-right: 10px;
    }
}